 a:hover {
     background-color: azure;
     color: black;
 }
 
 a {
     background-color: rgb(141, 230, 225);
     border-radius: 2px;
     border-color: rgb(4, 0, 255);
     border-width: 85%;
     border-style: dashed;
 }
 
 .imgbx {
     flex: .0.0.150 px;
     text-align: center;
 }
 
 h1 {
     text-align: center;
     color: rgb(248, 41, 26);
     text-decoration: underline;
 }
 
 h2 {
     color: rgba(220, 20, 60, 0.897);
     text-align: center;
     text-decoration: underline;
 }
 
 body {
     background-color: #e6a8f7;
 }
 
 #cont {
     color: deeppink;
     border-color: blue;
     border-style: dotted;
     height: fit-content;
     width: 35%;
     padding-left: 15em;
     padding-right: 13em;
     margin-left: 250px;
     font-family: serif;
     font-size: large;
     margin-top: 0px;
 }
 
 .object {
     display: flex;
     flex-direction: row;
 }